{% extends "1_base.html" %}
{% load static %}

{% block main %}

        <meta charset="UTF-8">
        <title>План печати</title>
        {% load static %}

        <link rel="stylesheet"
              href="{% static 'style_PPTable.css'%}"
              type="text/css"
        />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <form action="" class="printing_register" method="get" id="search_form">
            <div class="block" id="printer_block">
                <div class="block">
                    <select name="printer" id="printer">
                        <option value="{{current_printer}}" label="{{current_printer}}" disabled selected hidden></option>
                            {% for printer in printers %}
                                <option value="{{printer}}">{{printer}}</option>
                            {% endfor %}
                    </select>
                    <input type="submit" class="button" id="search_button" name="search_button" value="Найти"/>
                </div>
            </div>
        </form>
        <form action="" class="printing_register" method="post">
            {% csrf_token %}
            <div class="block" id="new">
                <div class="block" id="new_pp_block">
                    <input type="submit" class="button" id="new_pp" name="new_pp" value="+ Новая запись"/>
                </div>
                <div class="block" id="newmaterial-block">
                    <input type="submit" class="button" id="new_material" name="new_material" value="+ Новый материал"/>
                </div>
                <div class="block" id="newprinter-block">
                    <input type="submit" class="button" id="new_printer" name="new_printer" value="+ Новый принтер"/>
                </div>
            </div>
            <div class="block" id="table-block">
                <table id="printing_register_table">
                   <thead>
                        <tr>
                            <th scope="col" class="tab-label">№ файла</th>
                            <th scope="col" class="tab-label">Изображение</th>
                            <th scope="col" class="tab-label">Материал</th>
                            <th scope="col" class="tab-label">Операции</th>

                            <th scope="col" class="tab-label">Приоритет</th>
                            <th scope="col" class="tab-label">Готово</th>
                            <th scope="col" class="tab-label">Дата и время окончания</th>
                            <th scope="col" class="tab-label">Комментарии</th>
                            <th scope="col" class="showbtn">
                                <input type="button" id="show" name="show" class="button" value="Показать все" onclick="showRows()"/>
                            </th>
                        </tr>
                   </thead>
                    <tbody id="tbody">
                        {% for item in items %}
                            {% if item.item.hidden == True %}
                                <tr style="display: none;">
                            {% else %}
                                <tr>
                            {% endif %}
                                    <th scope="row" id="file_cell" class="cell">
                                        <input type="number" class="input" id="file_num&{{item.item.id}}" name="file_num" value="{{item.item.file_num}}"/>
                                    </th>
                                    <td id="drawing_cell" class="cell">
                                        <a class='showimg'>Показать
                                            <div class='image-container' id="image-container&{{item.item.id}}" style='display:none;'>
                                                    <img style="width:100%; height:100%" src="../static/media/{{item.drawing}}"/>
                                            </div>
                                        </a>
                                    </td>
                                    <td id="cell_material" class="cell">
                                        <div class="material">{{item.material}}</div>
                                        <!---
                                        <select name="material" id="material&{{item.item.id}}">
                                            <option value="{{item.item.material}}" disabled selected hidden>{{item.item.material}}</option>
                                            {% for powder in powders %}
                                                <option value="{{powder}}">{{powder}}</option>
                                            {% endfor %}
                                        </select>
                                        --->
                                    </td>
                                    <td id="operations&{{item.item.id}}" class="cell">
                                        {% for operation in item.operations %}
                                            <div class="operation">{{operation}}</div>
                                        {% endfor %}
                                    </td>
                                    <td id="cell_priority" class="cell">
                                        <select name="priority" id="priority&{{item.item.id}}" class="input">
                                            <option value="{{item.item.priority}}" disabled selected hidden>{{item.item.get_priority_display}}</option>
                                            <option value="1">1-й приоритет</option>
                                            <option value="2">2-й приоритет</option>
                                            <option value="3">3-й приоритет</option>
                                            <option value="0">Термичка</option>
                                        </select>
                                    </td>
                                    <td id="ready_cell">
                                        {% if item.item.ready == True %}
                                            <input type="checkbox" class="input" id="ready&{{item.item.id}}" name="ready" value="True" onchange="if(this.checked) this.value='False'; else this.value='True';" checked>
                                        {% else %}
                                            <input type="checkbox" class="input" id="ready&{{item.item.id}}" value="False" onchange="if(this.checked) this.value='True'; else this.value='False';" name="ready">
                                        {% endif %}
                                    </td>
                                    <td id="datetime_end&{{item.item.id}}" class="cell">
                                        {% if item.item.datetime_end != None %}
                                            {{item.item.datetime_end|date:'d.m.Y, H:i'}}
                                        {% endif %}
                                    </td>
                                    <td id="cell_comments" class="cell">
                                        <textarea id="comments&{{item.item.id}}" class="input" maxlength="200">{{item.item.comments}}</textarea>
                                    </td>
                                    <td id="cell_hide" class="cell">
                                        <input type="button" id="hide" name="hide" class="button" value="Скрыть" onclick="hideRow()"/>
                                    </td>
                                    <td id="cell_delete" class="cell" >
                                        <input type="button" id="delete" name="delete" class="button" value="Удалить" onclick="deleteRow()"/>
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <script>
                $(document).ready(function Display (){
                    $('.showimg').on('click', function(){
                        //Trigger FadeToggle function on click
                        var elem = this.firstElementChild;
                        $(elem).fadeToggle();
                    });
                });
            </script>
            <script>
                $("[id^=ready]").change(function () {
                    var id = this.id.split("&")[1];
                    var value = $(this).val();
                    var datetime = document.getElementById("datetime_end&"+id);
                    if (value == "True") {
                         var now = new Date();
                         datetime.innerText = now.toLocaleString('ru-RU');
                    } else {
                        datetime.innerText = " ";
                    };
                    $.ajax({
                        url: '/mycalendar/printing_plan',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'id': id,
                            'ready': value,
                            'datetime_end': datetime.innerText,
                        },
                        dataType: 'json',
                        success: function () {
                            alert('Done');
                        }
                    });
                })
            </script>
            <script>
                $("[id^=file_num], [id^=comments], [id^=priority]").change(function () {
                    var attr = this.id.split("&")[0];
                    var id = this.id.split("&")[1];
                    var value = $(this).val();
                    $.ajax({
                        url: '/mycalendar/printing_plan',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{csrf_token}}',
                            'id': id,
                            'attr': attr,
                            'value': value
                        },
                        dataType: 'json',
                        success: function () {
                            alert('Done');
                        }
                    });
                })
            </script>
            <script>
                $(document).ready(function() {
                    var tbody = document.getElementById('tbody');
                    var trs = tbody.children;
                    var prev_material = '';

                    for (tr of trs) {
                        var curr_material = tr.children[2].children[0].innerText;
                        if (curr_material != 'Не был привязан заказ') {
                            if (prev_material == '') {
                                prev_material = curr_material;
                            } else {
                                var td_operations = tr.children[3];
                                var ops = new Array("---", "Оптика", "Фильтр", "Переход на " + curr_material);
                                if (prev_material != curr_material) {
                                    if (td_operations.children[0].innerText.startsWith('Переход на ') != new Boolean('true')) {
                                        for (i of ops) {
                                            var new_div = document.createElement('div');
                                            new_div.innerText = i;
                                            new_div.style.color = "red";
                                            td_operations.insertBefore(new_div, td_operations.firstChild)
                                        }
                                        $.ajax({
                                            url: '/mycalendar/printing_plan',
                                            type: 'POST',
                                            data: {
                                                'csrfmiddlewaretoken': '{{csrf_token}}',
                                                'id': td_operations.id.split('&')[1],
                                                'attr': 'operations',
                                                'value': ops.slice(1).reverse()
                                            },
                                            dataType: 'json',
                                            success: function () {
                                                alert('Done');
                                            }
                                        });
                                    } else {
                                        for (i = 0; i < 3; i++) {
                                            td_operations.children[i].style.color = "red";
                                            if (i == 2) {
                                                var new_div = document.createElement('div');
                                                new_div.innerText = '---';
                                                new_div.style.color = "red";
                                                td_operations.insertBefore(new_div, td_operations.children[3])
                                            };
                                        };
                                    };
                                };
                                prev_material = curr_material;
                            };
                        };
                    };
                });
            </script>
            <script>
                function hideRow() {
                    var tr = event.target.closest('tr');
                    tr.style.display = 'none';
                    $.ajax({
                        url: '/mycalendar/printing_plan',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{csrf_token}}',
                            'id': tr.cells[0].children[0].id.split('&')[1],
                            'attr': 'hidden',
                            'value': new Boolean(true)
                        },
                        dataType: 'json',
                        success: function () {
                            alert('Done');
                        }
                    });
                }
            </script>
            <script>
                function showRows() {
                    var trs = document.getElementsByTagName("tr");
                    for (tr of trs) {
                        if (tr.style.display == "none") {
                            tr.style.display = "";
                            $.ajax({
                                url: '/mycalendar/printing_plan',
                                type: 'POST',
                                data: {
                                    'csrfmiddlewaretoken': '{{csrf_token}}',
                                    'id': tr.cells[0].children[0].id.split('&')[1],
                                    'attr': 'hidden',
                                    'value': new Boolean(false)
                                },
                                dataType: 'json',
                                success: function () {
                                    alert('Done');
                                }
                            });
                        };
                    };
                }
            </script>
            <script>
                function deleteRow() {
                    var tr = event.target.closest('tr');
                    tr.style.display = 'none';
                    $.ajax({
                        url: '/mycalendar/printing_plan',
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': '{{csrf_token}}',
                            'id': tr.cells[0].children[0].id.split('&')[1],
                            'delete': 'delete',
                        },
                        dataType: 'json',
                        success: function () {
                            alert('Done');
                        }
                    });
                }
            </script>
        </form>
{% endblock %}