{% extends "1_base.html" %}
{% load static %}

{% block main %}
        <meta charset="UTF-8">
        <title>Новый материал</title>
        {% load static %}
        <link rel="stylesheet"
              href="{% static 'style_MaterialCreation.css'%}"
              type="text/css"
        />
        <link href="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <div class="block" id="main_content">
        <form enctype="multipart/form-data" action="" class="back_form" method="post" id="back_form">
            <div class="block" id="back_block">
                {% csrf_token %}
                <input type="button" class="button" id="back" name="back" value="Назад" onclick="history.back()"/>
            </div>
        </form>
            <form enctype="multipart/form-data" action="" class="printing_register" method="post" id="material_creation">
                {% csrf_token %}

                <h2 class="title" id="new_material">Новый материал</h2>
                <div class="block" id="order-name-block">
                    <label for="material_name" class="label">Наименование</label>
                    <input type="text" class="input" id="material_name" name="material_name" required maxlength="200"/>
                </div>
                <div class="block" id="customer-block">
                    <label for="density" class="label">Плотность, г/см<sup>3</sup></label>
                    <input type="number" class="input" id="density" name="density" required step="0.01" min="0" max="999.99"/>
                </div>
                    <div class="block" id="submit-block">
                        <input type="submit" class="button" id="submit_button" name="submit_button" value="Сохранить"/>
                    </div>
            </form>
    </div>
{% endblock %}