@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

body {
  background: white;
  font-family: "Questrial", sans-serif;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: space-around;
  color: #2e383f;
  align-items: center;
}
form#back_form {
    width: 300px;
    margin-bottom: 0px;
}
div#main {
    width: 100%
}

div#main_content {
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

form#order_creation {
    display: flex;
    flex-direction: column;
    width: 650px;
    border: solid;
    border-width: 1px;
    border-radius: 20px;
    height: 790px;
    border-color: rgba(7, 97, 125, 0.4);
}

#main_n_regular {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#order_creation_main {
    display: grid;
    width: 300px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px 100px 40px 40px 40px;
    align-items: start;
    justify-content: center;
    align-content: start;
}

h2.title {
    text-align: center;

}

label.label {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #2e383f;
    background-color: white;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
}

#ready_label {
    margin-bottom: 0px;
    margin-left: 10px;
}

#ready_block, #regular_block {
    display: flex;
    align-self: flex-start;
}

#ready, #regular {
    margin-top: 0px;
    height: 17px;
    width: 17px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

div.block {
    display: grid;
    width: 250px;
    align-items: start;
}

#comment_block {
    align-self: flex-start;
}

#order_name,
#customer,
#amount,
#material,
#cost,
#datepicker,
#duration,
#comment,
#volume {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    color: #2e383f;
    background-color: white;
    width: 220px;
    margin-bottom: 0px;
    height: 25px;
}

#material {
    height: 30px;
}

#comment {
    height: 250%;
}

#submit-block {
    justify-self: right;
    width: max-content;
}

.button, input[type=file]::file-selector-button {
    background-color: #07617d;
    color: #ececeb;
    border-width: 0px;
    border-radius: 10px;
    min-height: 25px;
    min-width: 100px;
}

.button:hover, input[type=file]::file-selector-button:hover {
    background-color: #2e383f;
}

div.buttons {
    display: flex;
    justify-content: space-around;
    width: 220px;
}
#back {
    width: 100px;
    margin-bottom: 10px;
}

#block_orders {
    justify-items: start;
    overflow-y: auto;
}
#orders {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.patterns {
    margin-right: 10px !important;
}

