@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

body {
  background: white;
  font-family: "Questrial", sans-serif;
  display: flex;
  height: 900px;
  color: #2e383f;
  width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    margin-top: 10px;
}

#filter-block {
    align-self: center;
    margin: 10px;
}

#back_block {
    align-self: flex-start;
    margin: 10px;
}


table#pr_summary_table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 400px;
    overflow: hidden;
    border-width: 1px;

}

table#pr_summary_table thead, #total_cost_label {
    background-color: rgba(7, 97, 125, 0.4) !important;
}

table#pr_summary_table thead {
    cursor: pointer;
}

#customer-label, tbody tr th.cell {
    width: 60%;
}

#amount-label, #amount {
    width: 15%;
}

tfoot td {
    width: 160px;
}

th, td {
  border: 1px solid #2e383f !important;
  text-align: center !important;
}

#from {
    cursor: pointer;
    width: 220px;
    height: 25px;
}

.periods {
    display: flex;
    height: 35px;
    align-items: baseline;
    width: 330px;
    justify-content: space-between;
}

.button {
    background-color: #07617d;
    color: #ececeb;
    border-width: 0px;
    border-radius:10px;
    min-height:25px;
    min-width: 100px;
}

.button:hover {
    background-color: #2e383f;
}

.datepicker table tr td span.focused, .datepicker table tr td span:hover {
    background: rgba(7, 97, 125, 0.4) !important;

