@import url("https://fonts.googleapis.com/css?family=Questrial&display=swap");

body {
  background: white;
  font-family: "Questrial", sans-serif;
  display: flex;
  height: 900px;
  color: #2e383f;
  width: 3000px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    margin-top: 10px !important;
}

#table-block {
    margin-left: 7px;
}

#search_n_neworder {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
#search_block {
    margin-bottom: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

input#search {
    margin-bottom: 0px;
}

#submit_n_new {
    display: flex;
    margin-bottom: 15px;
    width: 70%;
    justify-content: flex-start;
}

#neworder_block, #newmaterial-block, #newprinter-block {
    margin-right: 10px;

}

#neworder_block {
    margin-left: 5px;
}

#hide_tab_block {
    margin-left: 564px;
}

table#printing_register_table {
    border-collapse: collapse;
    table-layout: auto;
    border-width: 1px !important;

}

.tab-label, .tab_label_days {
    background-color: rgba(7, 97, 125, 0.4);
}

th, td {
  border: 1px solid #2e383f;
}



input[type="text"].input {
    width: 150px;
    overflow: auto;
}

input[id^="cost&"], input[id^="date&"] {
    width: 100px !important;
}

input[type="number"].input {
    width: 100px;
}

select[id^="material"], select[id^="printer"] {
    width: 80px;
    overflow: auto;
}


.button {
    background-color: #07617d;
    color: #ececeb;
    border-width: 0px;
    border-radius:10px;
    min-height:25px;
    min-width: 100px;
}


.button:hover {
    background-color: #2e383f;
}

#show_hide {

    background-color: white;
    color: #07617d;
    font-weight: bold;
    border-width: 1px;
    border-radius:10px;
    border-color: #07617d;
    min-height:25px;
    min-width: 25px;
}

input.search, input[id^="date"], .showimg {
    cursor: pointer !important;
}

#ready_cell {
    justify-items: center;
}
input[type="checkbox"] {
    width: 65px !important;
    height: 20px;
}

input.input, select.input {
    border: 0 !important;
}

